<h1 class="h2" id="file-name" contenteditable="true">home.tea</h1>
<!-- Tea Editor Start -->
<div class="tea-editor">
	<div class="tea-editor-arrows-inner">
		<svg id="tea-editor-arrows" width="4000" height="4000"></svg>
	</div>
	<div class="tea-editor-inner"></div>
</div>
<!-- Tea Editor End -->
<!-- Tea Output Start -->
<div class="tea-output">
	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-typescript" role="tab" aria-controls="pills-home" aria-selected="true">TypeScript</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-python" role="tab" aria-controls="pills-profile" aria-selected="false">Python</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-php" role="tab" aria-controls="pills-contact" aria-selected="false">PHP</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-csharp" role="tab" aria-controls="pills-csharp" aria-selected="true">C#</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-java" role="tab" aria-controls="pills-java" aria-selected="true">Java</a>
		</li>
	</ul>
	<div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade show active" id="pills-typescript" role="tabpanel" aria-labelledby="pills-home-tab">
			<pre><code class="language-typescript" id="tea-output-typescript"></code></pre>
		</div>
		<div class="tab-pane fade" id="pills-python" role="tabpanel" aria-labelledby="pills-profile-tab">
			<pre><code class="language-python" id="tea-output-python"></code></pre>
		</div>
		<div class="tab-pane fade" id="pills-php" role="tabpanel" aria-labelledby="pills-contact-tab">
			<pre><code class="language-php" id="tea-output-php"></code></pre>
		</div>
		<div class="tab-pane fade" id="pills-csharp" role="tabpanel" aria-labelledby="pills-contact-tab">
			<pre><code class="language-php" id="tea-output-csharp"></code></pre>
		</div>
		<div class="tab-pane fade" id="pills-java" role="tabpanel" aria-labelledby="pills-contact-tab">
			<pre><code class="language-php" id="tea-output-java"></code></pre>
		</div>
	</div>
	<!-- Tea Output End -->
</div>
