<h5 class="menu-title">
									<span>ArchiMate 3.1</span>
								</h5>
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link" id="tea-archimate-resource" href="#">
											<img src="/tea/img/resource.svg" width="24" height="24">
											<span>Resource</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="tea-archimate-capability" href="#">
											<img src="/tea/img/capability.svg" width="24" height="24">
											<span>Capability</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="tea-archimate-value-stream" href="#">
											<img src="/tea/img/value-stream.svg" width="24" height="24">
											<span>Value Stream</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="tea-archimate-course-of-action" href="#">
											<img src="/tea/img/course-of-action.svg" width="24" height="24">
											<span>Course Of Action</span>
										</a>
									</li>
								</ul>