<h5 class="menu-title">
									<span>Tea 1.0</span>
								</h5>
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link" id="tea-start" href="#">
											<img src="/tea/img/start.svg" width="24" height="24">
											Start
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="tea-action" href="#">
											<img src="/tea/img/action.svg" width="24" height="24">
											Action
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#" id="tea-stop">
											<img src="/tea/img/stop.svg" width="24" height="24">
											Stop
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#" id="tea-variable">
											<img src="/tea/img/variable.svg" width="24" height="24">
											Variable
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#" id="tea-import">
											<img src="/tea/img/import.svg" width="24" height="24">
											Import
										</a>
									</li>
								</ul>